{% extends 'base.html' %}

{% block contenido %}
	<div class="main-content">
		<h1>LISTADO DE ACCIONES SOLIDARIAS</h1>
		
		{% if user.is_authenticated %}
            <a href="{% url 'articulos:path_crear_articulo' %}" class="button-action">PUBLICAR ACCIÓN</a>
        {% endif %}

        <form method="GET" style="margin: 20px 0; display: flex; gap: 20px; align-items: center;">
            
            <label for="categoria">Filtrar por Categoría:</label>
            <select name="categoria" onchange="this.form.submit()">
                <option value="">Todas</option>
                {% for c in categorias %}
                    <option value="{{ c.pk }}" {% if request.GET.categoria == c.pk|stringformat:"i" %}selected{% endif %}>{{ c.nombre }}</option>
                {% endfor %}
            </select>
            
            <label for="orden">Ordenar por:</label>
            <select name="orden" onchange="this.form.submit()">
                <option value="-fecha_publicacion" {% if not request.GET.orden or request.GET.orden == '-fecha_publicacion' %}selected{% endif %}>Más Reciente</option>
                <option value="antiguedad_asc" {% if request.GET.orden == 'antiguedad_asc' %}selected{% endif %}>Más Antiguo</option>
                <option value="alfabetico_asc" {% if request.GET.orden == 'alfabetico_asc' %}selected{% endif %}>Título (A-Z)</option>
                <option value="alfabetico_desc" {% if request.GET.orden == 'alfabetico_desc' %}selected{% endif %}>Título (Z-A)</option>
            </select>
        </form>

		{% for a in articulos %}
			<ul class="articulo-card">
				<a href="{% url 'articulos:path_detalle_articulo' a.pk %}">
					<img src="{{ a.imagen.url }}" alt="{{ a.titulo }}" width="200">
				</a>
				
				<li>**Título:** {{ a.titulo }}</li>
				<li>**Publicado por:** {{ a.autor.username }}</li>
				<li>**Categoría:** {{ a.categoria.nombre|default:"Sin categoría" }}</li>
				<li>**Fecha:** {{ a.fecha_publicacion|date:"Y-m-d" }}</li>
			
			<li><a href="{% url 'articulos:path_detalle_articulo' a.pk %}" class="button-small">Ver Detalle</a></li>

        {% if user.is_authenticated and user == a.autor or user.is_staff %}
            <li><a href="{% url 'articulos:path_modificar_articulo' a.pk %}" class="button-small">Modificar</a></li>
            <li><a href="{% url 'articulos:path_eliminar_articulo' a.pk %}" class="button-small-danger">Eliminar</a></li>
        {% endif %}
			</ul>
		{% empty %}
			<p>No se encontraron acciones solidarias para los filtros seleccionados.</p>
		{% endfor %}

	</div>	
{% endblock contenido %}